.container {
    background-color: rgb(103, 159, 223);
    border: 3px solid gray;
    width: 70%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
}
.body {
  background-color: lightblue;
}